[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textblob = "*"
matplotlib = "*"
nltk = "*"
langdetect = "*"
sklearn = "*"
tweepy = "*"
pandas = "*"
numpy = "*"
pycountry = "*"
wordcloud = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
